
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="@Url.Content("/Content/IndexCSS.css")" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,1,200" />

    <title>Ahorcado</title>
</head>
<body>
  
    <article id="principalArticle">
        <nav>
            <span class="material-symbols-outlined">
                favorite
            </span>
            <div id="vidas">@ViewBag.cantVidas / 5</div>
        </nav>
        <h3 >Bienvenido @ViewBag.nombre </h3>

        <article>
            <div id="letras">@ViewBag.listaIncorrectas</div>
            <p id="palabraIngresada">@ViewBag.palabraIngresada</p><br />
        </article>
        <footer>
            @using (Html.BeginForm("IngresoLetra", "juego", FormMethod.Post))
            {
                @Html.Label("Ingrese una letra o palabra \n", new { @class = "text" });
                <br />
                @Html.TextBox("txtLetra");
                <input type="submit" class="btn btnMain" name="btnEnviar" value=">" />
            }
        </footer>
    </article>
</body>
</html>
